.navigation-list {
  padding: 0;
  list-style: none;

  li {
    padding: 0 8px;

    .navigation {
      height: 40px;
      display: flex;
      padding: 0 16px;
      color: #b3b3b3;
      align-items: center;
      text-decoration: none;

      &-name {
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
      }

      &-logo {
        margin-right: 16px;

        svg {
          width: 24px;
          height: 24px;
          
          path {
            fill:  #b3b3b3;
          }
        }
      }

      &.current {
        color: #fff;
        border-radius: 4px;
        background-color: #282828;

        .navigation-logo {
          svg path {
            fill: #fff;
          }
        }
      }

      &:hover {
        color: #fff;

      .navigation-logo {
          svg path {
            fill: #fff;
          }
        }
      }
    }
  }

}