.sidebar {
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  min-height: 0;
  padding-top: 24px;
  grid-area: sidebar;
  width: 260px;
  flex-direction: column;
  background-color: #030303;

}